fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
requests
langchain
langchain-community
langchain-huggingface
langchain-ollama
faiss-cpu
pymupdf
sentence-transformers
duckduckgo-search
wikipedia
email-validator