fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
requests
langchain
langchain-community
langchain-huggingface
langchain-ollama
langchain-groq
langchain-google-genai
pinecone-client
langchain-pinecone
pymupdf
faiss-cpu
duckduckgo-search
wikipedia
email-validator